.main {
  background-color: #f5f5f5;
  background-image: url("https://github.com/Yahia89/icsgv/blob/icsgv/src/assets/16-sacred-symbols-MR9YMTh.png?raw=true");
  background-repeat: no-repeat;
  background-position: center left;
}

@media (max-width: 768px) {
  .main {
    background-repeat: repeat;
    background-size: auto; /* Optional: Adjusts size of the background */
  }
}

.wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.assalamualaikum {
  text-align: center;
  font-size: 24px;
  margin: 10px 0;
  color: #666;
}

.welcome {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
}

.team-container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-title {
  text-align: center;
  font-size: 36px;
  margin: 30px 0;
  color: #666;
}

.team-section {
  margin-bottom: 40px;
}

.section-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #666;
}

.members-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 20px; */
}

.special-members {
  justify-content: center;
}

.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 15px;
}

.image-container {
  border: 10px solid #ffffff; /* Thicker border for better visibility */
  /* border-radius: 100px; */
  width: 160px;
  height: 160px;
}

.image-container img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  object-position: center right;
}

.member-name {
  font-size: 18px;
  margin: 10px 0 5px;
  text-align: center;
  color: rgb(53, 43, 43);
}

.member-role {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin: 0;
}
.history-section {
  display: flex;
  align-items: center;
  gap: 20px;
  background-image: url("https://github.com/Yahia89/icsgv/blob/icsgv/src/assets/16-sacred-symbols-MR9YMTh.png?raw=true");
}

.history-section    .image-container-1 img,
.image-container-2 img,
.image-container-3 img,
.image-container-4  img {
  width: 100%;
  height: auto;
  border-radius: 0; /* Remove unnecessary cropping */
  object-fit: contain; /* Ensures the full image is visible */
}

.reverse {
  flex-direction: row-reverse;
}

.text-content {
  flex: 1;
}

.image-container {
  flex: 1;
}

.image-container img {
  width: 100%;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .history-section {
    flex-direction: column;
    align-items: center;
  }

  .reverse {
    flex-direction: column-reverse;
  }
  


    .image-container-1,
    .image-container-2,
    .image-container-3,
    .image-container-4 {
      width: 100%;
      max-width: 400px;
      text-align: center;
    }
  
}
