
.committee-container {
  text-align: center;
  padding: 20px;
  /* border: 2px solid #717171; */
  border-radius: 8px;
  margin: 10px 10px 10px 10px;
  background-color: #f5f5f5;
  background-image: url("../assets/16-sacred-symbols-MR9YMTh.png");
  background-repeat: no-repeat;
  background-position: center left;
}

.committee-title {
  font-family: "Georgia", serif;
  font-size: 2rem;
  color: #e5d6a0;
  margin-bottom: 30px;
}

.member-container {
  display: flex;
  justify-content: center;
}

.member {
  text-align: center;
  max-width: 200px;
}




.image-container {
  border: 10px solid #ffffff; /* Thicker border for better visibility */
  /* border-radius: 100px; */
  width: 160px;
  height: 160px;
}

.image-container img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  object-position: right;
  background-repeat: repeat;
  background-color: rgba(211,203,137,255);
}

.member-image img {
  width: 200px;
  height: 200px;
  object-fit: fill;
  border-radius: 10px;
  border: 3px solid #6a6a6a;
  background-color: #e5d6a0;
}

.member-name {
  font-size: 1.2rem;
  color: #e5d6a0;
  margin-top: 15px;
  font-weight: bold;
}

.member-phone {
  font-size: 1rem;
  color: #6db1ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.member-phone a:hover {
  color: #3d8fe8;
}
